{% extends "layout.html" %}


{% block code %}
<style>
*{
    
    
    padding-left: 0% !important;
    
}
.form-header
{   
    background-image: url("static/Books.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 29em;

}
.form-header
{
    text-align: center;
    justify-content: center;
}
.input-search
{
    width: 30%;
    height: 7%;
    padding : 1%;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20em;
    text-align: center;
}
.input-search-button
{
    width: 10%;
    height: 7%;
    padding : .4%;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Lemonada', cursive;
    
}
</style>

{% endblock %}

{% block title %}
    index
{% endblock %}

{% block main %}

    <form class="form-header" action="/search" method="post">
           <input class="input-search" type="text" name="search" id="search" placeholder="Search Here">
            <button class="input-search-button" type="submit">Search</button>
    </form>
     {% if flag==1 %}
     <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ISBN</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
          </tr>
        </thead>
        <tbody>
      
           {% for book in books %}
            <tr>
            <th scope="row">{{ book.isbn }}</th>
            <td><a href="{{ url_for('review', book_id=book.id) }}" title="{{ book.title }}">{{ book.title }}</a></td>
            <td>{{ book.author }}</td>
            <td>{{ book.year }}</td>
            </tr>
      
            {% endfor %}
           
        </tbody>
      </table>
     {% endif %}

{% endblock %}
